<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sanhang.mybatis.spring.StudentMapper" >
  <resultMap id="BaseResultMap" type="sanhang.mybatis.spring.Student" >
    <id column="id" property="id" jdbcType="INT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from student
    where id = #{id,jdbcType=INT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from student
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="sanhang.mybatis.spring.Student" >
    insert into student (name)
    values (#{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="sanhang.mybatis.spring.Student" >
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="sanhang.mybatis.spring.Student" >
    update student
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INT}
  </update>
  <update id="updateByPrimaryKey" parameterType="sanhang.mybatis.spring.Student" >
    update student
    set name = #{name,jdbcType=VARCHAR},
    where id = #{userId,jdbcType=INT}
  </update>
</mapper>